* {
    margin: 0;
    padding: 0;
}

a{
    font-family: sans-serif;
    text-decoration: none;
}

.header {
    background: purple;
    padding-inline: 16px;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 48px;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 18px;
    color: antiquewhite;
    padding-block: 16px;
}

.hero {
    height: calc(100vh - 70px);
    background: center / cover no-repeat
}

.button :hover{
    width: 60px;
    display: block;
    margin-inline: auto;
    transition: all 0.5 ease;
}


.zoom {
    padding: 50px;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom :hover{
    -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

.sonic {
    width: 200px;
}