@import url(https://fonts.googleapis.com/css2?family=Handjet:wght@100&family=Mooli&display=swap);

* {
    font-family: 'Mooli', sans-serif;
    font-size: small;
}
title{
    text-align: center;
}
h1 {
    font-size: xx-large;
}
h2 {
    font-size:x-large;
    text-align: center;
}
h3 {
    text-align: center;
}
body {
    background-image: linear-gradient(pink, red);
}

header nav a {
    background-color: rgb(25, 38, 178);
    border-radius: 10px;
    color: white;
  }
  
  img{
    width: 200px;
    height: 150px;
  }
  
  
  header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 80%;
    height: 50px;
  }
  
  
  main{
    display: flex;
    flex-direction: column;
    
  }
  
  section{
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    flex-wrap: wrap;
  
  }